*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bebas Neue", cursive;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.top-bg-container {
  height: 100vh;
  position: absolute; /* this allows content to come above it. */
  width: 90%;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 80% auto;
  z-index: -1;
}

.light-streaks {
  height: 100vh;
  background: #b2dd9e url("./assets/streaks.jpg");
  background-blend-mode: screen;
  background-size: cover;
}

.blue-col {
  background: #7988be;
}

.container {
  margin: 0 1em;
}

.menu-btn {
  width: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 1.8rem;
}

.logo span {
  color: #6889ff;
}

nav ul {
  display: none;
}

.content {
  text-align: center;
  margin: 8em 4em 0;
  height: 75vh;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 92%;
  margin-bottom: 2rem;
}

.type p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 141.6%;
}

.drone-container {
  position: relative;
  margin: 5em auto;
  width: 65%;
}

.blur,
.drone {
  position: absolute;
  left: 0;
}

.blur {
  opacity: 0.3;
  top: 1em;
  animation: pulse 2s alternate-reverse infinite;
}

.drone {
  animation: hover 2s alternate-reverse infinite;
}

@keyframes hover {
  from {
    transform: translateY(-30px);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
}
